@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

/* CSS Variable Styles */

:root{
    --main-titles: 'Cinzel', sans-serif;
    --body-text: 'Open Sans', sans-serif;
    --retro-font: 'Press Start 2P', sans-serif;
    --white: #FFFFFF;
    --fire-brick: #B22222;
    --gold: #FFD700;
    --eerie-black: #1C1C1C;          
}

/* Global Styles */ 

body{
    font-family: var(--body-text);
    background-color: var(--eerie-black);
    color: var(--gold);
    margin: 0;
    padding: 0;
}

/* Header Styles */

#header {
    background-color: var(--eerie-black);
    color: var(--gold);
    font-family: var(--retro-font);    
}

/* Modal Styles*/

.modal-content {
    background-color: var(--fire-brick);
    color: var(--gold);
    font-family: var(--body-text);
}

/* Button Styles */

.introModal {
    background-color: var(--eerie-black);
    color: var(--white);
    font-family: var(--retro-font);
    border: none;
}

.btn {
    background-color: var(--fire-brick);
    color: var(--gold);
    font-family: var(--retro-font);
    width: 100%;
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--gold);
    color: var(--fire-brick);
    opacity: 0.8;
}

.contact-btn {
    background-color: var(--eerie-black);
    color: var(--white);
    font-family: var(--retro-font);
    border: none;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: var(--white);
    color: var(--eerie-black);
    opacity: 0.8;
}

.submit-btn {
    background-color: var(--gold);
    color: var(--fire-brick);
    font-family: var(--retro-font);
    border: none;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--white);
    color: var(--eerie-black);
    opacity: 0.8;
}

/* Navbar Styles */

.logo {
    width: 35px;
    height: auto;
}

#navigation {
  background-color: var(--fire-brick);
  color: var(--gold);
}

.navbar .nav-link {
  font-family: var(--retro-font);  
  color: var(--gold) !important;
  font-size: small;
  padding: 8px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: var(--white);
  opacity: 0.8;
}

/* Footer */

#footer {
  background-color: var(--fire-brick);
  color: var(--gold);
  font-size: xx-small;
}
